/* src/pages/LoginPage.css */
@import '../../components/common/common.css';

.signup-button {
  width: 100%;
  padding: 18px;
  font-size: 24px;
  background-color: white;
  color: black;
  border: 1px solid #BDBDBD;
  margin-top: 20px;
}


