/* src/pages/LoginPage.css */
@import '../../components/common/common.css';

.title {
  font-size: 150px;
  font-weight: 700;
  margin-bottom: 50px;
  font-family: Pretendard, sans-serif;
}

.signup-button {
  background-color: white;
  color: black;
  border: 1px solid #BDBDBD;
  margin-top: 10px;
}

.link-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.link {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  margin: 0 10px;
}
