.pagination {
    margin-top: auto; /* 페이지네이션을 컨테이너의 하단에 고정 */
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0; /* 페이지네이션 위쪽 마진을 줄임 */
    background-color: #f8f8fa;
    padding: 10px 0;
    position: relative; /* 위치 고정 */
  }
  
  .pagination button {
    padding: 8px;
    font-size: 14px; /* 버튼 크기를 줄임 */
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  .pagination .active {
    font-weight: bold;
    color: red;
  }
  