/* 마이페이지 전체 배경색 설정 */
html, body {
  background-color: #f8f8fa;
  margin: 0;
  padding: 0;
  height: 100%;
}

.screen {
  text-align: center;
  font-family: "Pretendard", sans-serif;
  position: relative;
  min-height: 70vh;
  padding-bottom: 80px; /* 바텀 네비게이션 패딩 */
  background-color: #f8f8fa; /* 이 부분은 필요에 따라 제거 가능 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 20px;
  margin-bottom: 5px;
}

.header h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.point-info {
  display: flex;
  align-items: center;
  gap: 20px; /* 포인트와 버튼 사이 간격 */
}

.point {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  color: #000;
}

.point::after {
  content: 'P';
  margin-left: 5px;
  color: #000;
  font-weight: bold;
}

/* 버튼 그룹 스타일 */
.button-group {
  display: flex;
  flex-direction: column; /* 버튼을 수직으로 배치 */
  align-items: flex-end; /* 버튼을 오른쪽 정렬 */
  gap: 10px; /* 버튼 사이의 간격 추가 */
  margin-top: 10px; /* 버튼 그룹 위쪽 마진 추가 */
}

.action-button {
  padding: 10px; /* 버튼 내부 여백 */
  background-color: #e0e0e0; /* 버튼 배경색 */
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  width: 100%; /* 버튼 너비를 100%로 설정 */
}

.action-button:hover {
  background-color: #d0d0d0; /* 마우스 오버 시 색상 변경 */
}

/* 로딩 메시지 스타일 */
.loading {
  font-size: 18px;
  color: #666;
}

/* 오류 메시지 스타일 */
.error-message {
  color: red;
  font-weight: bold;
}
