/* src/pages/ConfirmPasswordPage.css */
@import '../../components/common/common.css';

.title {
  font-size: 96px;
  font-weight: 700;
  margin-bottom: 40px;
}

.input-group {
  margin-bottom: 20px;
}
