/* src/pages/UpdatePasswordPage.css */
@import '../../components/common/common.css';

.title {
  font-size: 96px;
  font-weight: 700;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.label {
  font-size: 30px;
  margin-bottom: 8px;
}
